<!-- Main -->
<section class="wrapper style1">
  <div class="container">
    <div id="content">
      <div class="articles-header">
        <h2>Articles and guides</h2>
        <p>Deepen your knowledge of tracking moods and emotions with our expert materials</p>
      </div>

      <div class="row gtr-200">
        <!-- Left column -->
        <div class="col-6 col-12-narrower">
          <div class="articles-category">
            <h3>Basic issues</h3>

            <% @standard_articles.each_with_index do |article, index| %>
              <div class="article-card">
                <div class="article-image">
                  <%= link_to article_path(article[:id]) do %>
                    <%= image_tag "pic0#{(index % 4) + 1}.jpg", alt: article[:title] %>
                  <% end %>
                </div>
                <div class="article-content">
                  <div>
                    <div class="article-meta">
                      <span class="article-tag">Basics</span>
                    </div>
                    <h4><%= article[:title] %></h4>
                    <p>Basics on tracking mood and working with emotions</p>
                  </div>
                  <div>
                    <%= link_to "Read more", article_path(article[:id]), class: "article-button" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <!-- Right column -->
        <div class="col-6 col-12-narrower">
          <div class="articles-category">
            <h3>Advanced Topics</h3>

            <% @advanced_articles.each_with_index do |article, index| %>
              <div class="article-card">
                <div class="article-image">
                  <%= link_to article_path(article[:id]) do %>
                    <%= image_tag "pic0#{((index + 2) % 4) + 1}.jpg", alt: article[:title] %>
                  <% end %>
                </div>
                <div class="article-content">
                  <div>
                    <div class="article-meta">
                      <span class="article-tag">Advanced</span>
                    </div>
                    <h4><%= article[:title] %></h4>
                    <p>In-depth analysis and techniques for those looking to develop their skills</p>
                  </div>
                  <div>
                    <%= link_to "Read more", article_path(article[:id]), class: "article-button" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>