<%= form_with(model: @mood_entry, local: true) do |form| %>
  <% if @mood_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mood_entry.errors.count, "error") %> prohibited this mood_entry from being saved:</h2>
      <ul>
        <% @mood_entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :mood_level %>
    <%= form.text_field :mood_level %>
  </div>

  <div>
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>