<%# app/views/admin/users/edit.html.erb %>
<section class="wrapper style1">
  <div class="container">
    <div class="row gtr-200">
      <div class="roles-section-header">
        <h1>Edytuj role dla użytkownika</h1>
        <p>Użytkownik: <strong><%= @user.email %></strong></p>
      </div>

      <%= form_with(model: [:admin, @user], local: true) do |f| %>
        <div class="roles-container">
          <h3>Dostępne role</h3>
          <% @roles.each do |role| %>
            <div class="role-item">
              <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), class: "role-checkbox", id: "role_#{role.id}" %>
              <label for="role_<%= role.id %>" class="role-label">
                <%= role.name.humanize %>
                <% if role.description.present? %>
                  <div class="role-description"><%= role.description %></div>
                <% end %>
              </label>
            </div>
          <% end %>
          <%= hidden_field_tag "user[role_ids][]", "" %>
        </div>

        <div class="form-actions">
          <%= f.submit "Zapisz zmiany", class: "button" %>
          <%= link_to "Powrót do listy", admin_users_path, class: "button alt" %>
        </div>
      <% end %>
    </div>
  </div>
</section>